footer p a,p{

    color: #CFCFCF;
    font-size: 12px;
}
footer h6{
    color:#FFFFFF;
    font-family: 'EB Garamond', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 31px;
}